# --- Seguridad ---
.env
serviceAccountKey.json


# --- Entorno Virtual ---
venv/
env/
ENV/

# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Django ---
db.sqlite3
/static/
/media/


# --- Otros ---
.vscode/
test.http
avatar.jpeg


# --- Angular ---
/node_modules
/.angular
